In [ ]:
#LIST

In [1]:
random_numbers=[7,1,9,4,8]
print(random_numbers)

[7, 1, 9, 4, 8]

In [3]:
random_numbers.extend([6,2,5])
print("updated list:",random_numbers)

updated list: [7, 1, 9, 4, 8, 6, 2, 5]

In [13]:
random_numbers=[7,1,9,4,8,6,2,5]
print("elements in the list:")
for numbers in random_numbers:
 print(numbers)

elements in the list:
7
1
9
4
8
6
2
5

#DICTIONARY

In [17]:
person = {'name': 'John', 'age': 25, 'address': 'New York'}
print(person)

{'name': 'John', 'age': 25, 'address': 'New York'}

In [19]:
person['phone'] = '1234567890'
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

In [ ]:
#SET

In [21]:
numbers={1,2,3,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [24]:
numbers.add(6)
print("set after add 6 to the number:",numbers)

set after add 6 to the number: {1, 2, 3, 4, 5, 6}

In [26]:
numbers.remove(3)
print("set after remove  3:",numbers)

set after remove  3: {1, 2, 4, 5, 6}

In [ ]:
#TUPLE

In [28]:
numbers=(1,2,3,4)
print(numbers)

(1, 2, 3, 4)

In [30]:
print("length of the tuple is:",len(numbers))

length of the tuple is: 4